<style type="text/css">
	body
	{
		color: #FFFFFF;
	}
	a{
		text-decoration: none;
		color: #FFFFFF;
		font-size: 1.8em;
	}	
	img{
		width: 5em; 
		height: 5em;
		border-radius: 3em;
		-webkit-border-radius: 3em;
		-moz-border-radius: 3em;
	}
	label{
		color: #FFFFFF;
		font-size: 1.5em;
	}
	div.main{
		font-family: cursive;
    	background-image: url(images.jpg);	
    	background-size: cover;    	
    	padding: 4%;
    	width: 100%;
    	max-width: 100%;
	}
	h1,h2,p
	{
		color: #d4ea79;
	}	
	ul li p{
		font-size: 1em;
		border-radius: 1em;
		display: inline;
		text-decoration: none;	
	    background-color: #042121;
    	text-align: center;		
    	padding: 0 0.5em 0.2em 0.5em;
	}
	.top-menu
	{
		border:none;
		border-bottom: solid;
		border-color: #FFFFFF;
		padding: 0 0.1em 0 0.1em;
		margin: 0 0.1em 0 0.1em;		
	}	
	.menuitem,.restaurant{
		font-size: 1.5em;
		color: #d7bddd;
		background-color: #913b0c; 
		border-radius: 0.5em;
		padding: 0 0.1em 0 0.1em;
		margin: 0 0.1em 0 0.1em;
	}
	.rname a{
		font-size: 1.2em;
	}
	.menuitem: a{
		color: black;
		background-color: #111111;
		border-radius :1%;
	}	
	.link a,.update-link a{
		text-decoration: none;
		color: #FFFFFF;
	    font-size: 1em;
	    border-radius: 0.3em;
	    padding: 0 0.3em 0 0.3em;
	    background-color: #581611;
	}		

</style>