<div class="row top-menu">
	<div class="col-md-6">
		<h2>Restaurant Lists</h2>
	</div>
	<div class="col-md-6 text-right">
		{% if 'username' not in session %}
		<img src="https://via.placeholder.com/350x150" 
				style = " width: 50px; height: 50px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;">
		<br>		
		<a href="{{url_for('showLogin')}}" >Login</a>
		{% else %}
		<img src="{{session['picture']}}" 
				style = "width: 50px; height: 50px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;">
		<br>				
		<a href="{{url_for('disconnect')}}">Logout</a>
		{% endif %}
	</div>
</div>