<!DOCTYPE html>
<html>
<head>
	<title>Pandava-New Menu Item</title>
	{% include "staticlinks.html" %}
</head>
<body>
	<div class="main">		
		<div class="header">
			<h1>New Menu Item</h1>
		</div>	
	<form method="POST" action="{{url_for('newMenuItem',restaurant_id=restaurant_id)}}">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-4 form-label">
				<label>Name:</label> 
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-8">
				<input type="text" name="newmenu"></input>
			</div>	
		</div>	
		<div class="row">	
			<div class="col-md-3 col-sm-3 col-xs-4 form-label">
				<label>Price:</label> 
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-8">				
				<input type="text" name="price"></input>
			</div>	
		</div>	
		<div class="row">				
			<div class="col-md-3 col-sm-3 col-xs-4 form-label">		
				<label>Description:</label> 
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-8">				
				<textarea type="text" name="description"></textarea>
			</div>
		</div>
		<input type="submit" value="Create"></input>
		<a href="{{url_for('restaurantMenu',restaurant_id=restaurant_id)}}">Cancel</a>
	</form>
	</div>
</body>
</html>