{% extends "main.html" %}
{% block content %}
	<div class="row main">		
		<div class="row top">
			<div class="col-md-12 text-center">
				<h1>Hotel Pandava</h1>
			</div>
		</div>			
		<div class="row top-menu">
			<div class="col-md-6 col-sm-6 col-xs-9 text-left">
				<h2>Restaurant List</h2>
			</div>					
			{% include "header.html" %}
		</div>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}

		{% include "flashmessage.hrml" %}
		
		{% endif %}
		{% endwith %}		

		{% for restaurant in restaurants %}
		<div class="row restaurant">
			<div class="col-md-12 rname">
				<a href="{{url_for('restaurantMenu',restaurant_id=restaurant.id)}}">{{restaurant.name}}</a>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}
